SA_PASSWORD=Inventory123.@TpX

CONNECTION_STRING=Server=sqlserver,1433;Database=InventarioDB;User Id=sa;Password=Inventory123.@TpX;TrustServerCertificate=True

JWT_KEY=InventoryManagementSuperSecretKey2026
JWT_ISSUER=InventoryManagement.Api
JWT_AUDIENCE=InventoryManagement.Client
JWT_EXPIRATION=60

AUTH_USERNAME=admin
AUTH_PASSWORD=Admin123*
